function Food.new 0
push constant 5
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push this 0
push constant 10
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
push constant 5
add
pop this 0
label IF_FALSE0
push this 1
push constant 10
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 1
push constant 5
add
pop this 1
label IF_FALSE1
push constant 16
pop this 2
push constant 3
call Random.randRange 1
pop this 3
push pointer 0
push constant 0
not
call Food.drawPixel 2
pop temp 0
push pointer 0
return
function Food.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Food.getX 0
push argument 0
pop pointer 0
push this 0
return
function Food.getY 0
push argument 0
pop pointer 0
push this 1
return
function Food.getWidth 0
push argument 0
pop pointer 0
push this 2
return
function Food.getHeight 0
push argument 0
pop pointer 0
push this 2
return
function Food.getType 0
push argument 0
pop pointer 0
push this 3
return
function Food.drawFood 0
push argument 0
pop pointer 0
push this 0
push constant 10
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
push constant 5
add
pop this 0
label IF_FALSE0
push this 1
push constant 10
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 1
push constant 5
add
pop this 1
label IF_FALSE1
push this 0
push this 1
push this 0
push this 2
add
push this 1
push this 2
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Food.draw 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push pointer 0
call Food.drawFood 1
pop temp 0
push constant 0
return
function Food.drawPixel 0
push argument 0
pop pointer 0
push constant 16384
push this 1
push constant 32
call Math.multiply 2
push this 0
push constant 16
call Math.divide 2
add
add
pop this 4
push argument 1
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 4
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push this 4
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push this 4
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push this 4
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push this 4
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push this 4
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push this 4
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push this 4
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push this 4
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push this 4
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push this 4
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push this 4
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push this 4
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push this 4
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push this 4
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push this 4
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
label IF_FALSE0
push this 3
push constant 0
eq
push argument 1
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 4
push constant 0
add
push constant 1984
call Memory.poke 2
pop temp 0
push this 4
push constant 32
add
push constant 2096
call Memory.poke 2
pop temp 0
push this 4
push constant 64
add
push constant 1032
call Memory.poke 2
pop temp 0
push this 4
push constant 96
add
push constant 2052
call Memory.poke 2
pop temp 0
push this 4
push constant 128
add
push constant 4104
call Memory.poke 2
pop temp 0
push this 4
push constant 160
add
push constant 2052
call Memory.poke 2
pop temp 0
push this 4
push constant 192
add
push constant 4098
call Memory.poke 2
pop temp 0
push this 4
push constant 224
add
push constant 8196
call Memory.poke 2
pop temp 0
push this 4
push constant 256
add
push constant 8194
call Memory.poke 2
pop temp 0
push this 4
push constant 288
add
push constant 8188
call Memory.poke 2
pop temp 0
push this 4
push constant 320
add
push constant 4604
call Memory.poke 2
pop temp 0
push this 4
push constant 352
add
push constant 4604
call Memory.poke 2
pop temp 0
push this 4
push constant 384
add
push constant 2296
call Memory.poke 2
pop temp 0
push this 4
push constant 416
add
push constant 2296
call Memory.poke 2
pop temp 0
push this 4
push constant 448
add
push constant 2168
call Memory.poke 2
pop temp 0
push this 4
push constant 480
add
push constant 2032
call Memory.poke 2
pop temp 0
label IF_FALSE1
push this 3
push constant 1
eq
push argument 1
and
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 4
push constant 0
add
push constant 896
call Memory.poke 2
pop temp 0
push this 4
push constant 32
add
push constant 3168
call Memory.poke 2
pop temp 0
push this 4
push constant 64
add
push constant 6168
call Memory.poke 2
pop temp 0
push this 4
push constant 96
add
push constant 8196
call Memory.poke 2
pop temp 0
push this 4
push constant 128
add
push constant 16482
call Memory.poke 2
pop temp 0
push this 4
push constant 160
add
push constant 16434
call Memory.poke 2
pop temp 0
push this 4
push constant 192
add
push constant 24571
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 224
add
push constant 24571
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 256
add
push constant 25543
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 288
add
push constant 17346
call Memory.poke 2
pop temp 0
push this 4
push constant 320
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 352
add
push constant 16381
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 384
add
push constant 20467
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 416
add
push constant 20466
call Memory.poke 2
pop temp 0
push this 4
push constant 448
add
push constant 12300
call Memory.poke 2
pop temp 0
push this 4
push constant 480
add
push constant 4080
call Memory.poke 2
pop temp 0
label IF_FALSE2
push this 3
push constant 2
eq
push argument 1
and
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 4
push constant 0
add
push constant 2032
call Memory.poke 2
pop temp 0
push this 4
push constant 32
add
push constant 2056
call Memory.poke 2
pop temp 0
push this 4
push constant 64
add
push constant 4100
call Memory.poke 2
pop temp 0
push this 4
push constant 96
add
push constant 4116
call Memory.poke 2
pop temp 0
push this 4
push constant 128
add
push constant 4116
call Memory.poke 2
pop temp 0
push this 4
push constant 160
add
push constant 4100
call Memory.poke 2
pop temp 0
push this 4
push constant 192
add
push constant 4100
call Memory.poke 2
pop temp 0
push this 4
push constant 224
add
push constant 4100
call Memory.poke 2
pop temp 0
push this 4
push constant 256
add
push constant 8188
call Memory.poke 2
pop temp 0
push this 4
push constant 288
add
push constant 7100
call Memory.poke 2
pop temp 0
push this 4
push constant 320
add
push constant 6156
call Memory.poke 2
pop temp 0
push this 4
push constant 352
add
push constant 4088
call Memory.poke 2
pop temp 0
push this 4
push constant 384
add
push constant 992
call Memory.poke 2
pop temp 0
push this 4
push constant 416
add
push constant 992
call Memory.poke 2
pop temp 0
push this 4
push constant 448
add
push constant 992
call Memory.poke 2
pop temp 0
push this 4
push constant 480
add
push constant 448
call Memory.poke 2
pop temp 0
label IF_FALSE3
push this 3
push constant 3
eq
push argument 1
and
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 4
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push this 4
push constant 32
add
push constant 32766
call Memory.poke 2
pop temp 0
push this 4
push constant 64
add
push constant 26598
call Memory.poke 2
pop temp 0
push this 4
push constant 96
add
push constant 20490
call Memory.poke 2
pop temp 0
push this 4
push constant 128
add
push constant 18834
call Memory.poke 2
pop temp 0
push this 4
push constant 160
add
push constant 20082
call Memory.poke 2
pop temp 0
push this 4
push constant 192
add
push constant 21066
call Memory.poke 2
pop temp 0
push this 4
push constant 224
add
push constant 24966
call Memory.poke 2
pop temp 0
push this 4
push constant 256
add
push constant 24966
call Memory.poke 2
pop temp 0
push this 4
push constant 288
add
push constant 21066
call Memory.poke 2
pop temp 0
push this 4
push constant 320
add
push constant 20082
call Memory.poke 2
pop temp 0
push this 4
push constant 352
add
push constant 18834
call Memory.poke 2
pop temp 0
push this 4
push constant 384
add
push constant 20490
call Memory.poke 2
pop temp 0
push this 4
push constant 416
add
push constant 26598
call Memory.poke 2
pop temp 0
push this 4
push constant 448
add
push constant 32766
call Memory.poke 2
pop temp 0
push this 4
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
label IF_FALSE4
push constant 0
return
function Food.erase 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push pointer 0
call Food.drawFood 1
pop temp 0
push constant 0
return
function Food.erasePixel 0
push argument 0
pop pointer 0
push pointer 0
push constant 0
call Food.drawPixel 2
pop temp 0
push constant 0
return
