function Main.main 4
push constant 0
pop local 1
call Interface.ShowStart 0
pop temp 0
label WHILE_EXP0
push local 1
push constant 0
eq
not
if-goto WHILE_END0
call Keyboard.keyPressed 0
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 1
push constant 100
push constant 85
call Snake.new 3
pop local 0
call Screen.clearScreen 0
pop temp 0
push local 0
push constant 120
push local 1
call Gameplay.Run 3
pop temp 0
push constant 0
return
